<html>
<head>
    <script>
        const rules = {rules};
    </script>
    <script>
        try {
            const fullUrl = window.location.href;
            for (const rule of rules) {
                const regex = new RegExp(rule.pattern);
                const match = fullUrl.match(regex);
                if (match && match.groups) {
                    let newUrl = rule.replacePattern;
                    for (const [key, value] of Object.entries(match.groups)) {
                        newUrl = newUrl.replace("($" + key + ")", value);
                    }
                    window.location.href = newUrl;
                    break;
                }
            }
        } catch (e) {
            console.error("Redirect failed:", e);
        }
    </script>
    <noscript>
        <p>You need to enable JavaScript!</p>
    </noscript>
</head>
</html>